.tttd-tap-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100px;
    height: 100px;

    font-size: x-large;
    padding: 20px;
    text-align: center;
    background-color: #fff;

    &.highlight {
        background-color: rgb(255, 255, 149);
    }
}